# Ignorar carpetas temporales sin importar en qué subcarpeta estén
**/build/
**/.gradle/
**/.idea/
**/.kotlin/
**/out/

# Ignorar archivos locales y de configuración
*.iml
*.property
local.properties
.DS_Store
/captures
.externalNativeBuild
.cxx/